<h1>INDEX PAGE</h1>

<% @events.each do |event| %>
	<ul>
		<li><%= event.name %>
			<%= link_to "Show", event %>
			<%= link_to "Destroy", event, :method=> :delete  %>
		</li>
	</ul>
	

<% end %>

<%= link_to "New", new_event_path %>

